[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/radupaulstefan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/radupaulstefan
	label-Verified = -1..+1 group user/radupaulstefan
	push = group user/radupaulstefan
	read = group user/radupaulstefan
	rebase = group user/radupaulstefan
	removeReviewer = group user/radupaulstefan
	submit = group user/radupaulstefan
[access "refs/heads/*"]
	create = group user/radupaulstefan
	push = +force group user/radupaulstefan
	pushMerge = group user/radupaulstefan
	read = group user/radupaulstefan
[access "refs/tags/*"]
	push = group user/radupaulstefan
	push = +force group user/radupaulstefan
